.product-item {
  max-width: 25rem;
  flex-basis: 25rem;
  flex-grow: 1;
  padding: var(--padding-content);
  border: 1px solid var(--white);
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.price-text {
  font-size: 3rem;
  color: var(--main-blue);
  margin-bottom: 2rem;
}

.product-name-text {
  font-size: 2rem;
  font-weight: var(--regular-weight);
}

.btn {
  margin: 0 auto;
  margin-top: 4rem;
  width: 15rem;
  background-color: var(--main-blue);
  padding: var(--padding-button);
  color: var(--white);
  font-family: var(--font);
  font-size: 1.9rem;
  font-weight: var(--semi-bold);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: var(--main-blue);
  border-color: var(--main-blue);
}

@media (max-width: 660px) {
  .product-item {
    max-width: 35rem;
  }
}
