.shop-list-container {
  width: 75%;
  margin: 3rem auto;
  border: 1px solid black;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.category-item {
  padding: var(--padding-content);
  flex-grow: 1;
  min-width: 25rem;
  background-color: grey;
  text-align: center;
}
