@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;300;400;500;600&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-blue: #00205b;
  --accent: #546289;
  --white: #e6e6e6;
  --black: #161319;

  --font: 'Saira Condensed', sans-serif;
  --xtra-light-weight: 100;
  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold: 500;
  --bold: 600;

  --padding-button: 1rem 1.7rem;
  --padding-content: 2.5rem;
  --padding-nav-bar: 0 5rem;
  --padding-nav-links: 0 0.5rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-weight: 300;
  font-size: 1.7rem;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--black);
}
